<div class="education">
  <h2>Education</h2>
  <div class="new-block">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title
          ><h3>Baltic Institute of Technology</h3></mat-panel-title
        >
      </mat-expansion-panel-header>
      <h4>Full-stack development</h4>
      <h5>2021</h5>
      <ul>
        <li>Angular 2+ and Typescript - 100 hours</li>
        <li>Node.js (Express.js, Handlebars, JSDoc) - 100 hours</li>
        <li>MongoDB, PostgreSQL and MySQL - 60 hours</li>
        <li>JavaScript and DOM - 100 hours</li>
        <li>
          HTML5, SASS and CSS (Tailwind, Materialize, Bootstrap) - 100 hours
        </li>
        <li>Git - 20 hours</li>
      </ul>
    </mat-expansion-panel>
  </div>
  <div class="new-block">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h3>CodeAcademy</h3></mat-panel-title>
      </mat-expansion-panel-header>
      <h4>Full-stack development</h4>
      <h5>2020 - 2021</h5>
      <ul>
        <li>PHP and OOP - 40 hours</li>
        <li>JavaScript and DOM - 40 hours</li>
        <li>MySQL - 40 hours</li>
        <li>HTML5 - 20 hours</li>
        <li>CSS (Bootstrap) - 20 hours</li>
      </ul>
    </mat-expansion-panel>
  </div>
  <div class="new-block">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h3>Vilnius University</h3></mat-panel-title>
      </mat-expansion-panel-header>
      <h4>Organizational Psychology</h4>
      <p>Master's degree</p>
      <h5>2017 - 2019</h5>
    </mat-expansion-panel>
  </div>
  <div class="new-block">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          ><h3>
            Lithuanian University of Educational Sciences
          </h3></mat-panel-title
        >
      </mat-expansion-panel-header>
      <h4>Psychology and Pedagogy</h4>
      <p>Bachelor's degree</p>
      <h5>2013 - 2017</h5>
    </mat-expansion-panel>
  </div>
</div>
