.contacts {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  div {
    margin-bottom: 15px;
  }
  fa-icon {
    color: #1b6a06;
  }
  a {
    margin-left: 15px;
  }
}
@media screen and (max-width: 1400px) {
  .contacts {
    padding-top: 20px;
    flex-direction: row;
    padding-bottom: 20px;
    div {
      margin-bottom: 10px;
      margin-right: 30px;
    }
    a {
      margin-left: 5px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .contacts {
    padding-right: 80px;
  }
}
@media screen and (max-width: 820px) {
  .contacts {
    padding-top: 0;
  }
}
@media screen and (max-width: 790px) {
  .contacts {
    padding-right: 100px;
  }
}
@media screen and (max-width: 560px) {
  .contacts {
    flex-direction: column;
    padding-right: 0;
    a {
      margin-left: 10px;
    }
  }
}
