<div class="contacts">
  <div>
    <fa-icon [icon]="faSquarePhone"></fa-icon>
    <a href="tel:+37060831914">+37060831914</a>
  </div>
  <div>
    <fa-icon [icon]="faEnvelope"></fa-icon>
    <a href="mailto: kalniusg@gmail.com">kalniusg&#64;gmail.com</a>
  </div>
  <div>
    <fa-icon [icon]="faLinkedin"></fa-icon>
    <a href="https://www.linkedin.com/in/giedrius-kalnius/">Giedrius Kalnius</a>
  </div>
  <div>
    <fa-icon [icon]="faGithub"></fa-icon>
    <a href="https://github.com/Gooze0100">Github profile</a>
  </div>
</div>
