.ribbon {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25) url("../../assets/images/background.jpg")
    no-repeat fixed center;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  h1 {
    font-size: 45px;
    color: white;
  }
  h2 {
    font-size: 20px;
    color: lightgrey;
  }
  .profile-photo {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
