.experience {
  padding: 10px 0 20px 50px;
  width: 100%;
  .mat-expansion-panel {
    background-color: whitesmoke;
    & mat-expansion-panel-header mat-panel-title {
      flex-grow: 2;
      font-weight: 700;
      font-size: 18px;
      color: #222222;
    }
  }
}
@media screen and (max-width: 900px) {
  .experience {
    padding: 0;
    mat-panel-title {
      flex-grow: 1;
    }
  }
}
