<div class="experience">
  <h2>Experience</h2>
  <div class="new-block">
    <h3>Full-stack Developer</h3>
    <h4>FL Technics</h4>
    <h5>2022</h5>
    <ul>
      <li>
        Developed complex modules (lists and tables, automated emails) and
        highly improved my skills working with SQL
      </li>
      <li>Dealt with bugs in applications</li>
      <li>Upgraded plain back-end functions for Oracle Database to Type ORM</li>
      <li>Created new visual login forms using Material UI</li>
      <li>Performed code reviews</li>
      <li>Worked in agile environment</li>
      <li>Used JIRA and GitLab</li>
    </ul>
  </div>
  <div class="new-block">
    <h3>Learning System Specialist</h3>
    <h4>SEB Global Services</h4>
    <h5>2019 - 2022</h5>
    <ul>
      <li>High level experience in Tableau</li>
      <li>2nd line technical support of Learning systems</li>
      <li>Data connection, analysis and management</li>
      <li>Working Agile</li>
      <li>Performed code reviews</li>
      <li>LMS system management</li>
    </ul>
  </div>
  <mat-accordion>
    <div class="new-block">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title><h3>HR Delivery Specialist</h3></mat-panel-title>
          <mat-panel-description>Internship</mat-panel-description>
        </mat-expansion-panel-header>
        <h4>SEB Global Services</h4>
        <h5>2018 - 2019</h5>
        <ul>
          <li>Customer support</li>
          <li>System support</li>
          <li>Internal job ad's administration</li>
          <li>Data management</li>
        </ul>
      </mat-expansion-panel>
    </div>
    <div class="new-block">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title><h3>HR Specialist</h3></mat-panel-title>
          <mat-panel-description>Internship</mat-panel-description>
        </mat-expansion-panel-header>
        <h4>Nordea</h4>
        <h5>2017</h5>
        <ul>
          <li>Customer support</li>
          <li>Data management</li>
          <li>Internal job ad's administration</li>
          <li>
            Communication with selected candidates and document administration
          </li>
        </ul>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
