.background {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.contacts-profile {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  & app-contacts {
    width: 50%;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  & app-profile {
    width: 50%;
    border-left: solid 1px rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
.skills-education-experience {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  .skill-education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
  }
  & app-experience {
    width: 50%;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
@media screen and (max-width: 1400px) {
  .contacts-profile {
    margin-bottom: 0;
    & app-contacts {
      width: 100%;
    }
    & app-profile {
      width: 100%;
      border-left: none;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}
@media screen and (max-width: 900px) {
  .contacts-profile {
    & app-contacts {
      width: 100%;
    }
    & app-profile {
      width: 100%;
    }
  }
  .skills-education-experience {
    flex-direction: column-reverse;
    & app-experience {
      width: 100%;
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .skill-education {
      width: 100%;
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
    & app-experience {
      width: 100%;
      border-left: none;
    }
  }
}
