.background {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.contacts-profile {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;

  & app-contacts {
    width: 50%;
    // border-right: solid 1px #999;
  }

  & app-profile {
    width: 50%;
    margin-bottom: 10px;
    border-left: solid 1px #999;
  }
}
.skills-education-experience {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #999;

  .skill-education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #999;
  }

  & app-experience {
    width: 50%;
  }
}
