@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

*,
html,
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #1b6a06;
}
h5 {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  padding-left: 20px;
  padding-right: 20px;
  // list-style: none;
  // li::before {
  //   content: "\2606";
  //   color: #1b6a06;
  //   font-weight: bold;
  //   display: inline-block;
  //   width: 1em;
  //   margin-left: -1em;
  // }
  li {
    list-style-type: "\2605";
  }
}
.container {
  padding-left: 150px;
  padding-right: 150px;
  width: 100%;
}
.new-block {
  margin-top: 15px;
}
