@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

*,
html,
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #1b6a06;
}
h5 {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  padding-left: 20px;
  padding-right: 20px;
  li {
    padding-left: 10px;
    &::marker {
      content: "\2B57";
      // content: "\2B9A";
      // content: "\2B9E";
      // content: "\1F89A";
      // content: "\1F8A5";
      font-size: 1.1em;
      color: #1b6a06;
    }
  }
}
.container {
  padding-left: 150px;
  padding-right: 150px;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.new-block {
  margin-top: 15px;
}
@media screen and (max-width: 1400px) {
  h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  h3 {
    font-size: 16px;
  }
}
