@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

*,
html,
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: grey;
}
h5 {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  padding-left: 20px;
  li {
    list-style-type: circle;
  }
}
.container {
  padding-left: 150px;
  padding-right: 150px;
  width: 100%;
}
.new-block {
  margin-top: 15px;
}
